{{ define "main" }}

<div class="header-background">
  <header class="homepage-intro grid-container">
     <div>
       <h1>How easy is it for all types of developers and agencies to find government APIs?</h1>
       <p><strong>Who should read this:</strong> Digital government team leaders, government API teams, users of government APIs</p>

        <p><strong>What it’s about:</strong> Government API discoverability is the process of making sure all developers can easily find and understand what APIs are published and maintained by a government, in an accessible, equitable, and user-friendly manner. A new research project is being carried out to document current and best practices for Government API discoverability.</p>
        
        <p><strong>Why it’s important:</strong> Understanding and sharing best practices will help governments publish their APIs to allow others to discover, access and use them in ways that create value and drive digital economies. This research needs the input of digital government and government API teams, as well as from developers wanting to use government APIs in their work.</p>
        
        <p><strong>Special note:</strong> The views expressed in this article represent the project researchers from Platformable. This research is partly funded by the European Commission, ISA2 programme, Innovative Public Services action, within the API4IPS project, in collaboration with the Joint Research Centre, the Directorate-General for Informatics, and the Directorate‑General for Communications Networks, Content and Technology.</p>
     </div>
  </header>

  <div class="grid-container nav">
    <ul class="category-nav">
      <li>
        <a class="active view-by-category" href="#">Categories</a>
      </li>
      <li>
        <a class="view-alphabetically" href="#">Alphabetical</a>
      </li>
      <li>
        <a class="view-resources" href="#">Resources</a>
      </li>
      <li>
        <a class="view-about" href="#">About</a>
      </li>
    </ul>
  </div>
</div>

{{ partial "homepage/category-view.html" . }}
{{ partial "homepage/resources-view.html" . }}
{{ partial "homepage/alphabetical-view.html" . }}
{{ partial "homepage/about-view.html" . }}

{{ end }}
